@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monda:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Inter';
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

nav {
    background-color: black;
    color: gray;
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
    align-content: center;
}

.logo {
    color: skyblue;
    font-size: 20px;
    font-family: cursive;
}

.nav-options {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-btn {
    padding: 7px;
    background-color: rgb(63, 252, 252);
    border: none;
    border-radius: 10px;
    font-weight: 600;
    width: 80px;
}

.nav-options a:hover {
    color: aliceblue;
    cursor: pointer;
}

.nav-options a {
    color: gray;
    text-decoration: none;
    font-size: 13px;
}

.nav-btn:hover {
    background-color: rgb(67, 201, 201);
}


main {
    margin-top: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.main-tag button {
    border: 1px solid aqua;
    background-color: rgb(18, 34, 34);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    color: aqua;
}

.main-name {
    font-size: 70px;
    font-weight: bold;
}

.main-name span {
    color: aqua;
}

.main-desc {
    display: flex;
    text-align: center;
    justify-content: center;
}

.main-desc p {
    text-align: center;
    width: 40%;
    color: gray;
    font-size: 15px;
}

.main-btns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.main-btns button {
    padding: 10px;
    width: 130px;
    border-radius: 7px;
    font-weight: bold;
}

.btn-1 {
    background-color: aqua;
    border: none;
}

.btn-2 {
    background-color: black;
    border: 1px solid aqua;
    color: white;
}

.main-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.main-links p {
    display: flex;
    padding: 12px;
    border: 1.5px solid rgb(59, 59, 59);
    border-radius: 50%;
}

.main-links svg {
    width: 15px;
    height: 15px;
}

.main-links p:hover {
    border: 1.5px solid aqua;
    cursor: pointer;
}



.contact {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contact-head {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contact-text {
    color: aqua;
}

.contact-text-2 {
    font-size: 40px;
    font-weight: bold;
}

.contact-text-2 span {
    color: aqua;
}

.contact-desc {
    color: gray;
    width: 500px;
    font-size: 90%;
}

.contact-connect {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(26, 26, 26);
    padding: 30px;
    border-radius: 20px;
}

.contact-form button {
    height: 30px;
    border-radius: 10px;
    background-color: aqua;
    font-weight: bold;
    font-size: 70%;
    border: none;
}

.contact-primary {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.contact-primary input {
    border-radius: 10px;
    height: 30px;
    border: 1px solid rgb(132, 132, 132);
    background-color: rgb(26, 26, 26);
    color: white;
    padding-left: 10px;
}

.contact-primary p {
    margin-bottom: 5px;
    font-size: 12px;
}

.contact-secondary {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-secondary p {
    margin-bottom: 5px;
    font-size: 12px;
}

.contact-secondary input {
    width: 100%;
    border-radius: 10px;
    height: 30px;
    border: 1px solid rgb(132, 132, 132);
    background-color: rgb(26, 26, 26);
    color: white;
    padding-left: 10px;
}

.contact-secondary textarea {
    width: 100%;
    border-radius: 10px;
    height: 30px;
    border: 1px solid rgb(132, 132, 132);
    background-color: rgb(26, 26, 26);
    color: white;
    padding-left: 10px;
    height: 100px;
    padding-top: 7px;
}

.contact-others {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.others-desc {
    font-size: 13.5px;
    color: gray;
}

.others-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.others-d {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.others-d p {
    font-size: 13px;
}

.others-loc {
    color: gray;
    font-size: 12px;
}

.others-email {
    font-size: 12px;
    color: gray;
}

.find-me {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.find-me-head {
    font-size: 12px;
    color: gray;
}

.find-me-icons {
    display: flex;
    gap: 20px;
}

.find-me-icons p {
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    display: flex;
}

.find-me-icons p:hover {
    cursor: pointer;
    border: 1px solid aqua;
}


.find-me-icons svg {
    width: 12px;
    height: 12px;
}


footer div {
    text-align: center;
    height: 100%;
    align-items: center;
    align-content: center;
    font-size: small;
    color: rgb(162, 162, 162);
}

#skills {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.skill-set {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 80%;

}

.skill-set div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(21, 21, 21);
    border-radius: 15px;
}

.skill-set div p {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(37, 37, 37);
    font-size: 11px;
}

.skill-set div h3 {
    margin-bottom: 10px;
    text-align: center;
    color: aqua;
    font-size: 12px;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.project {
    display: flex;
    flex-direction: column;
    background-color: rgb(21, 21, 21);
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
    width: 70%;
}


.project-name {
    font-weight: bold;
}


.project-about {
    display: flex;
    gap: 30px;
    font-size: 13px;
}

.project-about>p {
    color: gray;
}

.project-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.project-stack {
    display: flex;
    gap: 10px;
}

.project-stack p {
    padding: 5px;
    border-radius: 10px;
    width: 70px;
    text-align: center;
    color: aqua;
    background-color: rgb(28, 42, 42);
    font-size: 10px;
}

.project-links p {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    background-color: rgb(21, 21, 21);
}

.about-content {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-left {
    width: 500px;
    font-size: 14px;
    color: gray;
}

.about-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.about-right p {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: small;
    padding: 20px;
    background-color: rgb(21, 21, 21);
    border-radius: 10px;
    color: gray;
    border: 1px solid rgb(35, 74, 62);
}

.about-right b {
    color: white;
}


.about-right p svg {
    color: aqua;
}

svg {
    cursor: pointer;
}

button {
    cursor: pointer;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #111;
    z-index: 1000;
}


/* Mobile */
@media screen and (max-width: 426px) {

    .main-name {
        font-size: 30px;
    }

    .main-desc p {
        width: 100%;
    }

    .contact-connect {
        flex-direction: column-reverse;
    }

    .skill-set {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .about-left {
        display: none;
    }

    .logo {
        display: none;
    }

    .project-about {
        display: flex;
        flex-direction: column;
    }

    .contact-connect {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 40px;
    }

    .contact-others {
        width: 80%;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;

    }

    .contact-desc {
        width: 80%;
    }

    

    .contact-primary {
        display: flex;
        flex-direction: column;

    }

    .project-about {
        display: flex;
        justify-content: space-between;
    }

    .about-right {
        width: 80%;
    }

    .main-desc p {
        font-size: 15px;
        width: 80%;
    }

}


/* Tablet */
@media screen and (min-width: 426px) and (max-width: 768px) {
    .about-content {
        flex-direction: column;
        gap: 50px;
    }

    .skill-set {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-connect {
        flex-direction: column-reverse;
    }
}

/* Laptop */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* .about-content {
        width: 80%;
        display: flex;
        justify-content: center;
        text-align: center;
    } */
}

/* Laptop 4k */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
    /* None */
}

@media screen and (min-width: 1440px) {
    .project-about {
        display: flex;
        justify-content: space-between;
    }
}